@use "./theme.scss" as th;

// Hero Section Start //

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/pricing/pricing-hero.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
}

// Hero Section End //

// Book Section End //

.book-section {
  background-color: th.$light-green;
  .circle {
    background-color: th.$light-green-60;
    width: 100px;
    height: 100px;
    p {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}

// Book Section End //

//   Pricing Section Start //

.pricing-section {
  .laundry-pera {
    width: 80%;
  }
  .grid-container {
    display: grid;
    gap: 150px;
    grid-template-columns: auto auto auto;
  }
  .card {
    position: relative;
    .card-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }
    }
    .card-datail {
      background-color: th.$light-cyan;
      transition: all 0.3s;
      p {
        letter-spacing: 5px;
        color: th.$black;
      }
    }
    .hover-txt {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      opacity: 0;
      color: th.$white;
      width: 70%;
      margin: auto;
      font-size: 18px;
    }
    &:hover {
      .card-img img,
      .card-datail {
        filter: brightness(0.5);
      }
      .hover-txt {
        opacity: 1;
      }
    }
  }
}
//   Pricing Section End //

// Refund Section Start //

.refund-section {
  background-color: th.$light-cyan;
  .man-img {
    width: fit-content;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Refund Section End //

// ================================================= Responsive Scss Start ===================================================== //

@media screen and (max-width: 767.98px) {
  .hero {
    background-size: 200% 100%;
  }
  .pricing-section {
    .laundry-pera {
      width: 100%;
    }
    .grid-container {
      grid-template-columns: auto;
      gap: 50px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .pricing-section {
    .grid-container {
      grid-template-columns: auto auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .pricing-section {
    .grid-container {
      gap: 40px;
    }
    .card {
      .hover-txt {
        width: 100%;
        font-size: 16px;
      }
    }
  }
  .refund-section {
    p {
      font-size: 14px;
    }
  }
}
